body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ad8d6e;
}

.counter-panel {
    background-color: #494545;
    padding: 20px;
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(201, 27, 27, 5.0);
    text-align: center;
    animation: fadeIn 1s ease-in-out, slideIn 1s ease-in-out;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(201, 27, 27, 1.0);
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px);
    }
}

.hidden {
    animation: fadeOut 1s ease-in-out, slideOut 1s ease-in-out;
    display: none;
}
